@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

body > header{
    width: 100%;
    background: #fff;
    position: fixed; left: 50%; top: 0; z-index: 100;
    transform: translateX(-50%);
    border-bottom: 1px dotted #ccc
}
header .fixed{
    width: 80%; margin: 0 auto;
    display: flex;
    justify-content: flex-start
}
/* --------------------- 로고 ------------------------------------------------------------------ */
header .fixed div{
    width: 70%;
    display: flex;
    justify-content: flex-start
}
header div h1{}
header div h1 a{
    font-family: 'Baloo', cursive; font-size: 2.5rem;
    padding: 1vw 0
}
header div h1 strong{
    font-family: 'Baloo', cursive; font-size: 2.5rem
}
header div h1 strong:nth-of-type(1){
    color: #f29a82  
}
header div h1 strong:nth-of-type(2){
    color: #96d5c1
}
/* ----------------------- nav_title --------------------------------------------------------- */
header div nav{
    width: 75%;
    text-align: center
}
header div nav .nav_title{
    width: 100%;
    display: flex; justify-content: space-between
}
header div nav .nav_title li{
    width: 16%
}
header div nav .nav_title li a{
    width: 100%;
    padding: 2vw 0;
    font-size: 1.25em;
    position: relative
}
header div nav .nav_title li a:after{
    content: '';
    width: 0%; height: 2px;
    background: #ccc;
    position: absolute; left: 50%; bottom: -2px;
    transform: translateX(-50%);
    transition: .5s
}
header div nav .nav_title li:hover a:after{
    width: 100%
}
/* ----------------------- nav_list --------------------------------------------------------- */
header div nav .nav_list{
    width: 100%;
    display: none
}
header:hover nav .nav_list{
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between; align-items: flex-start
}
header div nav .nav_list > li{
    width: 16%;
    position: relative
}
header div nav .nav_list li a{
    width: 100%;
    padding: 1vw 0
}
header div nav .nav_list > li:nth-of-type(odd) a:hover{
    background: rgba(242, 154, 130, 0.3)
}
header div nav .nav_list > li:nth-of-type(even) a:hover{
    background: rgba(150, 213, 193, 0.3)
}
header div nav .nav_list > li:after{
    content: '';
    width: 0%; height: 2px;
    background: #ccc;
    position: absolute; left: 50%; top: 0;
    transform: translateX(-50%);
    transition: .5s
}
header div nav .nav_list li:hover:after{
    width: 100%
}
header div nav .nav_list li ul{
    width: 100%
}
header div nav .nav_list li ul li{
    width: 100%
}
header div nav .nav_list li ul li a{
    width: 100%
}
/* ----------------------ic_menu --------------------------------------------------------- */
header .fixed .ic_menu{
    width: 30%; height: 5vw;
    display: flex;
    justify-content: space-between; align-items: center
}
header .ic_menu div{
    width: 60%;
    display: flex;
    justify-content: flex-end; align-items: baseline
}
header .ic_menu div input{
    height: 40%;
    margin-right: 0;
    border-bottom: 1px solid #333;
    outline-style: none
}
header .ic_menu div a{}
header .ic_menu div a img{}
header .ic_menu a{
    width: 30px
}
header .ic_menu a img{
    width: 100%
}
header .ic_menu > a:first-of-type{
    margin-left: 0
}
header .ic_menu a img{
    width: 90%
}
/* ---------------------- 타이틀 --------------------------------------------------------- */
section{
    width: 80%; margin: 0 auto
}
section .title{
    width:100%; padding: 35px 0; margin-bottom: 85px;
    text-align:left;
    position: relative; top: 80px
}
section .title h2{
    font-size:2.5em;
    margin-bottom:35px
}
section .title a{
    padding: 0 1em;
}
section .title a:first-of-type{
    padding-left: 0
}
section .title:after{
    content:'';
    width:100%; height:2px; background:#ccc;
    position: absolute; left: 0; bottom: 0
}
/* ---------------------- 상품 목록 --------------------------------------------------------- */
section .product_list{
    width: 100%; margin-bottom: 35px;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid #f29a82;
    border-bottom: 2px solid #f29a82
}
section .product_list caption{
    font-size: 1.5em; font-weight: 600;
    text-align: left;
    padding: 15px 0 15px 0
}
section .product_list thead{
    border-bottom: 1px solid #ccc
}
section .product_list thead tr{}
section .product_list thead tr th{
    font-size: 1.25em; font-weight: 600; color: #666;
    padding: 15px 0;
    
}
section .product_list thead tr th:nth-of-type(1){
    width: 3%
}
section .product_list thead tr th:nth-of-type(2){
    width: 10%
}
section .product_list thead tr th:nth-of-type(4){
    width: 10%
}
section .product_list thead tr th:nth-of-type(5){
    width: 10%
}
section .product_list thead tr th:nth-of-type(6){
    width: 10%
}
section .product_list thead tr th:nth-of-type(7){
    width: 10%
}
section .product_list thead tr th:nth-of-type(8){
    width: 10%
}
section .product_list tbody{}
section .product_list tbody tr{
    border-bottom: 1px dotted #ccc
}
section .product_list tbody tr:last-of-type{
    border-bottom: none
}
section .product_list tbody tr td{
    padding: 10px
}
section .product_list tbody tr td input{}
section .product_list tbody tr td img{
    width: 100px
}
/* ---------------------- 주문 금액 --------------------------------------------------------- */
section .price{
    width: 100%; margin-bottom: 35px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #96d5c1
}
section .price tbody{}
section .price tbody tr{}
section .price tbody tr th{
    font-size: 1.5em; font-weight: 600;
    text-align: left; vertical-align: top;
    padding: 15px
}
section .price tbody tr td{
    padding: 15px 0; width: 15%;
    font-size: 1.25rem
}
section .price tbody tr:nth-of-type(1){}
section .price tbody tr:nth-of-type(2){
    border-top: 1px dotted #ccc
}
section .price tbody tr:nth-of-type(3){
    border-top: 1px solid #ccc
}
section .price tbody tr td:nth-of-type(2){
    font-weight: 600
}
section .price tbody tr:nth-of-type(3) td:nth-of-type(1){
    padding-right: 30px;
    text-align: right;
}
section .price tbody tr:nth-of-type(3) td:nth-of-type(2){
    color: #f29a82; font-size: 1.5rem

}
/* ---------------------- 버튼 --------------------------------------------------------- */
section .button{
    /* border: 1px solid #090; */
    width: 100%; margin-bottom: 45px;
    display: flex;
    justify-content: space-between; align-items: center
}
section .button .bttn_manage{}
section .button .bttn_manage li{}
section .button .bttn_manage li a{
    border: 1px solid #ccc;
    padding: 5px 5px;
    margin-right: 5px
}

section .button .bttn_order{}
section .button .bttn_order li{
    margin-left: 5px;
    position: relative
}
section .button .bttn_order li a{
    font-size: 1.2rem; font-weight: 600;
    padding: 15px 60px
}
section .button .bttn_order li a:after{
    content:'';
    width: 95%; height: 85%;
    border: 1px solid #fff;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%)
}
section .button .bttn_order li:nth-of-type(1) a{
    background: rgba(242, 154, 130, 0.6)
}
section .button .bttn_order li:nth-of-type(2) a{
    background: rgba(150, 213, 193, 0.6)
}
/* ---------------------- 이용 안내 --------------------------------------------------------- */
section .notice{
    width: 100%;
    text-align: justify;
    word-break: keep-all;
    word-wrap: break-word
}
section .notice h2{
    font-size: 1.25em; font-weight: 600;
    padding-bottom: 15px
}
section .notice p{
    font-size: .9em;
    line-height: 2em; white-space: pre-line
}
/* ---------------------- 1:1 채팅 ----------------------------------------------------------------- */
aside{}
aside a{
    width: 50px; height: 50px;
    border: 2px solid #333;
    border-radius: 50%;
    background: #fff;
    padding: 7px;
    position: fixed; z-index: 100;
    right: 5vw; bottom: 5vw
}
aside a img{
    width: 100%
}
/* ---------------------- 푸터 ----------------------------------------------------------------- */
footer{
    width: 100%; padding-top: 8vw;
    text-align: center
}
footer .foot_nav{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}
footer .foot_nav li{
    width: 15%;
    position: relative
}
footer .foot_nav li:after{
    content: '';
    width: 1px; height: 1rem;
    background: #ccc;
    position: absolute; right: 0; top: 50%;
    transform: translateY(-50%)
}
footer .foot_nav li:last-of-type:after{
    display: none
}
footer .foot_nav li a{
    width: 95%;
    padding: 1vw
}
footer p{
    width: 100%; padding: 3vw 0;
    font-size: .9em;
    white-space: pre-line; line-height: 1.5em
}
/* ---------------------- ps ------------------------------------------------------------------ */
footer .postscript{
    width: 100%;
    margin-bottom: 3vw
}
footer .postscript li{
    margin: 0 2vw;
    display: inline-flex; align-items: center
}
footer .postscript li a{}
footer .postscript li img{
    height: 2vw
}
footer .postscript li span{
    padding-left: 1vh;
    font-size: .9em
}