@import url('common.css');

#total{
    width:100vw;
    /* background:url("https://www.youtube.com/embed/0bjTrPutt4k")no-repeat;
    background-size:cover;
    background-attachment:fixed; */
}
iframe {
	position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
	z-index : -1;
}
/* -------------------------------- header ------------------------------------ */
header{
    position:fixed;
    width:100%;
    background-color:#000;
    z-index:10;
    padding:0% 6%
}
header.active{
    opacity:0.5
}
header .header_wrap{
    width:100%;
    display:flex;
    height:100%;
}
.header_wrap figure{}
.header_wrap figure img{
    width:100%;
}

/* --------------------------------- nav -------------------------------------- */
.header_wrap .navBg{
    width:100%;
    background-color:#000;
}
.header_wrap nav{
    width:100%;
    padding:1.7%;
}
.header_wrap nav ul{
    display:flex;
    position:relative;
    justify-content:center;
    margin-top:0.5%;
}
.header_wrap nav ul li{
    margin-right:5%
}
.header_wrap nav ul li a{
    color:#fff;
}
.header_wrap nav ul div{
    position:absolute;
    top:70px;
    line-height:50px;
    opacity:0;
    transition:.5s;
    /* display:none; */
}
.header_wrap nav ul div.show{
    opacity:1;
}
.header_wrap nav ul div a{
    display:block;
    text-align:center;
    
}
/* -------------------------------- visual ----------------------------------- */
.visual{
    width:100%;
    position:relative;
}
.visual figure{
    width:100%; height:100vh;
}
.visual figure img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    /* opacity:0;
    transition:.8s; */
    display:none;
}

.visual figure img.active{
    /* opacity:1; */
    display:block;
}

.visual .visualText{
    position:absolute;
    opacity:0;
    left:25%;
    top:40%;
    text-align:center;
    transition:.8s;
}
.visual .visualText.visible{
    opacity:1;
    top:30%;
}
.visual .visualText h1{
    color:#fff;
    font-size:4vw;
    margin-bottom:8%;
}

.visual .visualText p{
    font-size:2vw;
    color:#fff;
    text-align:center;
}

.visual .visualText a{
    padding:1% 2%;
    background-color:#2981bb;
    margin-top:6%;
}

.visual figcaption span{
    /* margin:1% 2%; */
    font-size:1vw;
    color:#fff;
}

.visual .indigator{
    position:absolute;
    left:46.5%;
    bottom:20%;
    display:flex;
}

.visual .indigator li{
    width:15px;
    height:15px;
    border-radius:15px;
    background-color:#fff;
    margin-right:40px;
}

.visual .indigator li.active{
    transform:scale(1.5);
    transition:.3s;
}
/* -------------------------- container ----------------------- */

.container{
    width:100%;
}
/* --------------------- faction -------------------------------- */
.faction_title{
    margin-top:10%;
    transition:1s;
    opacity:0;
}
.faction_title.show{
    opacity:1;
    margin-top:5%;
}
.faction_title h1{
    color:#fff;
    font-size:3em;
    text-align:center;
    
}
.faction_title p{
    color:#fff;
    font-size:2em;
    text-align:center;
    margin-top:10px;
    letter-spacing:1rem;
}
.faction_wrap{
    width:100%;
    display:flex;
    padding:10% 10%;
    opacity:0;
    transition:1s;
}
.faction_wrap.show{
    padding:5% 15%;
    opacity:1;
}
.faction_wrap div{
    width:100%;
    margin:0 1%;
    height:60vh;
    position:relative;
}
.faction_wrap figure{
    width:100%;
    height:100%;
    position:absolute;
}

.faction_wrap figure img{
    width:100%;
    height:100%;
    position:absolute;
}

.faction_wrap figure figcaption{
    position:absolute;
    left:31.5%;
    bottom:0%;
    opacity:0;
    transition:.5s;
}

.faction_wrap figure figcaption a{
    color:#fff;
    border:1px unset #eee;
    padding:10px 10px;
    transition:.5s;
}
.faction_wrap .bgf{
    opacity:1;
    transition:.5s;
}
.faction_wrap .front{
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.7;
    transition:1s;
}
/* ------------------------faction active content---------------------------- */
.faction_wrap .bgf.active{
    opacity:0;
}
.faction_wrap .front.active{
    opacity:0;
}

.faction_wrap figure .icon{
    width:35%;
    height:25%;
    left:32%;
    bottom:20%;
}

.faction_wrap figure .s_bgf{
    opacity:0;
    transition:.8s;
}

.faction_wrap figure .s_bgf.active{
    opacity:1;
}
.faction_wrap figure figcaption.active{
    z-index:15;
    opacity:1;
    bottom:10%;
}
.faction_wrap figure figcaption a.active{
    color:#fff;
    font-weight:600;
}   

/* ------------------------------ player guide -------------------------------- */
.guide{
    width:100%;
}

.guideLeft{
    width:100%;
    height:100%;
}

.guideLeft figure img{
    width:25%;
    height:25%;
}

.guideRight{}
.guideRight h2{}
.guideRight div{}
.guideRight div h3{}
.guideRight div p{}