@import url('common.css');

#total{
    width:100vw;
    /* background:url("https://www.youtube.com/embed/0bjTrPutt4k")no-repeat;
    background-size:cover;
    background-attachment:fixed; */
}
.mainVisual {
	position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	width : auto;
	height : auto;
}
/* -------------------------------- header ------------------------------------ */
header{
    position:fixed;
    width:100%;
    background-color:#000;
    z-index:25;
    padding:0% 8%
}
header.active{
    opacity:0.5
}
header .header_wrap{
    width:100%;
    display:flex;
    height:100%;
}
.header_wrap figure{}
.header_wrap figure img{
    width:100%;
}

/* --------------------------------- nav -------------------------------------- */
.header_wrap .navBg{
    width:100%;
    background-color:#000;
}
.header_wrap nav{
    width:100%;
    padding:1.7%;
}
.header_wrap nav ul{
    display:flex;
    position:relative;
    justify-content:center;
    margin-top:0.5%;
}
.header_wrap nav ul li{
    margin-right:5%
}
.header_wrap nav ul li a{
    color:#fff;
}
.header_wrap nav ul div{
    position:absolute;
    top:70px;
    line-height:50px;
    opacity:0;
    transition:.5s;
    /* display:none; */
}
.header_wrap nav ul div.show{
    opacity:1;
}
.header_wrap nav ul div a{
    display:block;
    text-align:center;
    
}
/* -------------------------------- visual ----------------------------------- */
.visual{
    width:100%;
    height:100vh;
    position:relative;
}
.visual video{
    position:absolute;
    left:10%;
    top:30%;
    width:35%;
    z-index:10;
}
.visual figure img{
    position:absolute;
    width:100%;
    height:100%;
    /* display:none; */
}
.visual figure img.active{
    /* opacity:1; */
    display:block;
}

.visual .visualText{
    position:absolute;
    opacity:0;
    right:15%;
    top:40%;
    text-align:center;
    transition:.8s;
}
.visual .visualText.visible{
    opacity:1;
    top:30%;
}
.visual .visualText h1{
    color:#fff;
    font-size:3em;
    margin-bottom:8%;
}

.visual .visualText p{
    font-size:2em;
    color:#fff;
    text-align:center;
}

.visual .visualText a{
    padding:1% 2%;
    background-color:#2981bb;
    margin-top:6%;
}

.visual .visualText span{
    /* margin:1% 2%; */
    font-size:1vw;
    color:#fff;
}

.visual .indigator{
    position:absolute;
    left:45%;
    bottom:16%;
    display:flex;
}

.visual .indigator li{
    width:15px;
    height:15px;
    border-radius:15px;
    background-color:#fff;
    margin-right:60px;
}

.visual .indigator li.active{
    transform:scale(1.5);
    transition:.3s;
}
/* -------------------------- container ----------------------- */

.container{
    width:100%;
    background:url('../img/bg_background7.jpg')no-repeat;
    background-size:inherit;
    background-attachment: fixed;
}
/* --------------------- faction -------------------------------- */
.faction_title{
    margin-top:10%;
    transition:1s;
    opacity:0;
}
.faction_title.show{
    opacity:1;
    margin-top:5%;
}
.faction_title h1{
    color:#fff;
    font-size:3em;
    text-align:center;
}
.faction_title p{
    color:#fff;
    font-size:2em;
    text-align:center;
    margin-top:10px;
    letter-spacing:1rem;
}
.faction_wrap{
    width:100%;
    display:flex;
    padding:10% 10%;
    opacity:0;
    transition:1s;
}
.faction_wrap.show{
    padding:5% 15%;
    opacity:1;
}
.faction_wrap div{
    width:100%;
    margin:0 1%;
    height:60vh;
    position:relative;
}
.faction_wrap figure{
    width:100%;
    height:100%;
    position:absolute;
    background:#000;
}

.faction_wrap figure img{
    width:100%;
    height:100%;
    position:absolute;
}

.faction_wrap figure .amarr{
    width:100%;
    height:100%;
}

.faction_wrap figure .factionIntro{
    width:100%;
    height:100%;
}
.faction_wrap figure .factionIntro.hover{
    z-index:15;
}

.faction_wrap figure figcaption{
    position:absolute;
    left:31.5%;
    bottom:0%;
    opacity:0;
    transition:.5s;
}

.faction_wrap figure figcaption a{
    color:#fff;
    border:1px unset #eee;
    padding:10px 10px;
    transition:.5s;
}
.faction_wrap .bgf{
    opacity:1;
    transition:.5s;
}
.faction_wrap .front{
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.7;
    transition:1s;
}
/* ------------------------faction active content---------------------------- */
.faction_wrap .bgf.active{
    opacity:0;
}
.faction_wrap .front.active{
    opacity:0;
}

.faction_wrap figure .icon{
    width:35%;
    height:25%;
    left:32%;
    bottom:20%;
}

.faction_wrap figure .s_bgf{
    opacity:1;
    transition:.8s;
}

.faction_wrap figure .s_bgf.active{
    opacity:0;
}
.faction_wrap figure figcaption.active{
    z-index:15;
    opacity:1;
    bottom:10%;
}
.faction_wrap figure figcaption a.active{
    color:#fff;
    font-weight:600;
}   

/* ------------------------------ player guide -------------------------------- */
.guide{
    width:100%;
    padding:0 15%;
}
.guide h2{
    color:#fff;
    font-size:2em;
    text-align:center;
    margin-bottom:5%;
}
.playerGuide{
    display:flex;
    justify-content:space-between;
    margin:0 auto;
}
.playerGuide figure{
    width:120%;
    margin:5%;
    position:relative;
    left:0;
    bottom:20%;
}
.playerGuide figure img{
    width:100%;
}
.playerGuide figcaption{
    position:absolute;
    left:0;
    bottom:0;
    padding:5%;
}
.playerGuide figcaption h3{
    color:#fff;
    margin-bottom:3%;
}
.playerGuide figcaption p{
    white-space:pre-line;
    color:#fff;
}
.playerGuide figcaption p a{
    color:#fff;
}

/* ---------------------- ship showcase ----------------------------- */

.showCase{
    width:100%;
    padding:5% 5%;
    margin-top:5%;
}
.showCase h2{
    color:#fff;
    text-align:center;
    font-size:2em;
}
.showCase .shipInfo{
    padding:2% 5%;
    display:flex;
    justify-content:space-between;
}
.showCase .shipInfo table{
    margin-left:10%;
    width:40%;
    height:400px;
    background-color:#0b1d2d
}
.showCase .shipInfo table th,tr,td{
    color:#fff;
    border:1px solid #324251
}

.showCase .shipInfo table tr{
    width:50%;
}

.showCase .shipInfo table td{
    width:10%;
    padding:2%;
}

.mText,.cText,.vText,.oText,.wText,.iText{
    border:none;
}

.showCase .shipInfo img{
    width:40%;
    margin-right:10%;
}

.showCase .slideShow{
    margin-top:2%
}
.showCase .slideShow figure{
    display:flex;
    width:100%;
    justify-content:center;
}
.showCase .slideShow figure img{
    width:10%;
}

/* ----------------- footer ----------------- */
footer{
    width:100%;
    padding:5% 15%;
    background-color:#0a0d13;
}

footer div:nth-of-type(1){
    display:flex;
}

footer div:nth-of-type(1) p{
    color:#fff;
}

footer div:nth-of-type(2){
    display:flex;
}

footer div:nth-of-type(2) ul{}
footer div:nth-of-type(2) ul li{
    color:#fff;
}
footer div:nth-of-type(2) ul li a{
    color:#fff;
}

