@import "common.css";

@mixin w100($wid:100%){
    width:$wid;
}

#total{
    @include w100;
    height:100vh;
    overflow-X:hidden;
    overflow-Y:hidden;
}

header{
    position:absolute;
    z-index:10;
    height:80%;
    padding:2%;
    & div:first-child{
        @include w100;
        display:flex;
        flex-direction:column;
        height:100%;
    }
    & .burger{
        position:relative;
        top:35%;
        padding:20%;
        opacity:1;
        transition:1.5s;
        & span{
            position:absolute;
            height:2px;
            background-color:#000;
            display:block;
        }
        & span:nth-of-type(1){width: 15px; top:6px}
        & span:nth-of-type(2){width:20px; top:12px}
        & span:nth-of-type(3){width: 10px; top:18px}
    }
    & .burger.active{
        opacity:1;
    }
}
section{
    height:100%;
    & .container{
        @include w100;
        height:100%;
        display:flex;
        & .left_con{
            @include w100($wid:30%);
            height:100%;
            background-color:yellow;
            position:relative;
            & figure{
                background-color:#f95959;
                width:20%;
                padding:3% 5%; 
                position:absolute;
                right:-15%;
                top:20%;
                & img{
                    width:100%;
                }
                & figcaption{
                    text-align:center;
                    color:#fff;
                }
            }
        }
        & .right_con{
            @include w100($wid:70%);
            height:100%;
            margin:0 auto;
            text-align:center;
            & article{
                padding-top:10%;
                height:100%;

                h1{
                    font-size:2em;
                    margin-bottom:5%;
                    white-space:pre-line;
                }
            }
            & span{
                color:#f00;
            }
            & form{
                text-align:center;
                display:flex;
                flex-direction:column;
                padding:3%;
                
                & input{
                    width:60%;
                    background-color:#ddd;
                    border:none;
                    padding:1%;
                    margin:1% auto;
                }
                & textarea{
                    width:60%;
                    margin:0 auto;
                    border:none;
                    background-color:#ddd;
                    padding:1%;
                }
                & input:focus{
                    outline:none;
                }
                & textarea:focus{
                    outline:none;
                    border:none;
                }
                & .button{
                    width:20%;
                    margin:0 auto;
                    padding:1%;
                    margin-top:1%;
                    background-color:#00561f;
                    color:#fff;
                }
            }
        }
    } 
}