@import "common.css";

@mixin w100($wid:100%){
    width:$wid;
}

#total{
    @include w100;
    height:100vh;
    overflow-X:hidden;
    overflow-Y:hidden;
}

header{
    position:absolute;
    z-index:10;
    height:80%;
    padding:2%;
    & div:first-child{
        @include w100;
        display:flex;
        flex-direction:column;
        height:100%;
    }
    & .burger{
        position:relative;
        top:35%;
        padding:20%;
        opacity:0;
        transition:1.5s;
        & span{
            position:absolute;
            height:2px;
            background-color:#fff;
            display:block;
        }
        & span:nth-of-type(1){width: 15px; top:6px}
        & span:nth-of-type(2){width:20px; top:12px}
        & span:nth-of-type(3){width: 10px; top:18px}
    }
    & .burger.active{
        opacity:1;
    }
    & .burger.show{
        z-index:20;
        top:35%;
        & span:nth-of-type(1){
            transform:translateY(7px) rotate(-45deg);
            width:20px;
        }
        & span:nth-of-type(2){opacity:0}
        & span:nth-of-type(3){
            transform:translateY(-5px) rotate(45deg);
            width:20px;
        }
    }
    & nav{
        position:absolute;
        left:0;
        top:0;
        width:0;
        height:100vh;
        background-color:#000;
        opacity:0.7;
        padding:0;
        transition:.5s ease-in-out;
        overflow:hidden;
        opacity:0;
        & > ul{
            display:flex;
            position:absolute;
            left:15%;
            top:47%;
            & li{
                margin:0 45% 0 0;
                a{
                    color:#fff;
                    font-size:2em;
                }
            }
        }    
    }
    & nav.block{
        display:block;
      
    }
    & nav.show{
        width:100vw;
        opacity:0.7;
    }
}
section{
    height:100%;
    & .container{
        @include w100;
        height:100%;
        display:flex;

        & .left_con{
            position:relative;    
            @include w100($wid:45%);
            height:100%;
            background-color:#2c90d6;
            transform:translateX(-100%);
            transition:1s;

            $color: (strong,span,p,"ul li",a);
            @each $col in $color{
                #{$col}{
                    color:#fff;
                }
            }
            & .left_text{
                position:absolute;
                left:25%;
                top:20%;
                padding:2% 10% 0 0;
                & strong{
                    font-size:3em;
                }
                & p{
                    font-size:1.5em;
                }
                & > span{
                    line-height:25px;
                    margin-top:50px;
                    white-space:pre-line;
                }
                & ul{
                    margin-top:50px;
                }
                & ul li{
                    line-height:30px;
                    
                }
                & a{
                    border:1px solid #fff;
                    padding:2%;
                    margin-top:10%;
                }
                & .controler{
                    width:100%;
                    display:flex;
                    justify-content: space-around;
                    margin-top:120px;
                    position:relative;
                    & > img{
                        width:5%;
                        height:5%;
                        margin-top:2%;
                    }
                    & p{
                        font-size:1em;
                        margin-top:10px;
                    }
                    & figure img{
                        margin:10px;
                    }
                    & span{
                        margin-top:10px;
                        opacity:0;
                        transition:.5s;
                        position:absolute;
                        right:-40px;
                    }
                    & span.active{
                        opacity:1;
                    }
                }
            }
        }
        & .left_con.active{
            transform:translateX(0%);
        }
        & .right_con{
            @include w100($wid:55%);
            position:relative;
            transform:translateX(100%);
            transition:1s;
            transition-delay:1s;
            & .pc{
                position:absolute;
                left:20%;
                top:30%;
            }
            & .pad{
                position:absolute;
                left:55%;
                top:55%;
            }
            & .mobile{
                position:absolute;
                left:10%;
                top:62%;
            }
        }
        & .right_con.active{
            transform:translateX(0%)
        }
    } 
}
footer{
    position:absolute;
    left:0;
    bottom:30px;
    text-align:center;
    opacity:0;
    padding-left:0%;
    transition:1s;
    & p{
        @include w100;
        color:#ddd;
        position:relative;
        margin:0 auto;
    }
}
footer.active{
    opacity:1;
    padding-left:13%;
}
